[Unit]
Description=MCP Playwright
After=network.target

[Service]
Type=simple
User=sameer
WorkingDirectory=/home/sameer/Shared/Sync/Private/Apps/services/mcp/noapi-google-search-mcp
Environment=PATH=/home/sameer/.n/n/versions/node/26.3.0/bin:/home/sameer/anaconda3/envs/mcp-google/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

StandardOutput=append:/home/sameer/Shared/Sync/Private/Apps/services/mcp/noapi-google-search-mcp/mcp-playwright.log
StandardError=inherit

ExecStart=/home/sameer/.n/n/versions/node/26.3.0/bin/node /home/sameer/.n/n/versions/node/26.3.0/bin/npx @playwright/mcp@latest --config '/home/sameer/Shared/Sync/Private/Apps/services/mcp/noapi-google-search-mcp/config_playwright.json'

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
